header h1{
	text-align: center;
}

.page {
	float: left;
	width: 20%;
	margin: 5px 2%;
	border: 1px solid black;
}

#feed {
	margin: 5px auto;
	width: 50%;
}


.tweet {
	border: 1px solid black;
	display: block;
	font: 10px;
	margin: 10px 10px;
	padding: 5px 5px 20px 5px;
}

.tweetElement {
	display: inline-block;
	text-align: left;
	margin: 10px 5px;	
}

.dateTime {
	color: gray;

}

.username {
	
}

.message {
	font: 20px Georgia;
	margin: 10px 10px;
	text-align: center;
	display: block;
}